.container-login {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-login {
  border: 2px solid black;
  padding: 20px;
  border-radius: 10px;
  background-color: rgb(208, 208, 209);
}

.card-login img {
  width: 20%;
}
